<footer class="bg-dark p-3 mt-5 ">
    <div class="container ">
        <div class="row m-3 pl-5" style="font-size: medium; color: white;">
            <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Menu</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li><a href="">Home</a></li>
                        <li><a href="">Profile</a></li>
                        <li><a href="">Post</a></li>
                        <li><a href="">My Gallery</a></li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Category</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li>เที่ยวตามสบาย</li>
                        <li>เที่ยวตามงบ</li>
                        <li>สายกินต้องไป</li>
                        <li>เดินห้างตากแอร์</li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-4 col-md-4 col-12 p-2">
                <h4>Contact</h4>
                <div >
                    <ul style="list-style: none; display: contents;">
                        <li><i class="fab fa-facebook-square"></i>  Facebook</li>
                        <li><i class="fab fa-instagram"></i>  Instagram</li>
                        <li><i class="fab fa-line"></i>  Line</li>
                        <li><i class="far fa-envelope"></i>  Gmail</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="text-center text-white">Webmaster ....... © Copyright 2020  All rights reserved.</div>
    </div>
</footer>

    </body>
</html>