
<div class="fixed-bottom">
    <div class="footer">
        <div class="row">
            <div class="col-12 text-center">
                <a href="" class="white"><i class="fab fa-facebook-f fa-lg white-text mr-5 fa-2x"></i></a>
                <a href="" class="white"><i class="fab fa-twitter fa-lg white-text mr-5 fa-2x"></i></a>
                <a href="" class="white"><i class="fab fa-google-plus-g fa-lg white-text mr-5 fa-2x"></i></a>
                <a href="" class="white"><i class="fab fa-linkedin-in fa-lg white-text mr-5 fa-2x"></i></a>
                <a href="" class="white"><i class="fab fa-instagram fa-lg white-text mr-5 fa-2x"></i></a>
                <a href="" class="white"><i class="fab fa-pinterest fa-lg white-text fa-2x"></i></a>
            </div>
        </div>
        <div class="footer-caption mt-3 mb-2 text-center">© Copyright 2020 All rights reserved</div>
    </div>
</div>

<!-- jQuery library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>

<!-- Popper JS -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>

<!-- Latest compiled JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</body>

</html>