
<%- include("partials/header") %>

<div class="container newbook-section">
  <h3 class="text-center mb-4">Insert a new Book</h3>
  <form action="/book/" method="POST">

    <div class="form-row">
      <div class="form-group col">
        <label>Title</label>
        <input type="text" class="form-control" name="name" placeholder="Book Name" required>
      </div>
      <div class="form-group col">
        <label>Writer</label>
        <input type="text" class="form-control" name="writer" placeholder="Writer" required>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col">
        <label>Category</label>
        <select class="form-control" name="tag">
          <option selected>Novel</option>
          <option>Magazine</option>
          <option>Cartoon</option>
          <option>House</option>
        </select>
      </div>
      <div class="form-group col">
        <label>Cover</label>
        <input type="file" class="form-control" name="imgurl" accpet="image/*" required>
      </div>
    </div>

    <div class="form-row">
      <label>Description</label>
      <textarea class="form-control" name="desc" rows="4"></textarea>
    </div>

    <button type="submit" class="btn btn-block btn-danger mt-3">Create</button>

  </form>
</div>

<%- include("partials/footer") %>