
<%- include("partials/header")%>

<%- messages() %>

<div class="container login-section">
    <form class="form-group form-login" method="POST" action="/login">
        <h1 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Login</h1>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" placeholder="email" name="username">
        </div>
        <div class="form-group">
            <label for="pwd">Password</label>
            <input type="password" class="form-control" placeholder="password" name="password">
        </div>
        <input type="submit" name="" value="Login" class="btn btn-block btn-success">
    </form>
</div>

<%- include("partials/footer")%>