<%- include("partials/header")%>
<% if(locals.errors){ %>
    <ul class = "alert alert-danger"> 
    <% Object.values(errors).forEach(function(error){%>
        <li><%= error.msg %></li>
    <% }) %>
    </ul>
<%}%>
<form class="form-group form-login container" method="POST" action="/register"> 
    <h1 class="text-center mt-lg-0 mt-md-4 mt-sm-4 ">Register</h1>
    <div class="form-group">
        <label for="Username">Name:</label>
        <input type="text" class="form-control" placeholder="username" name="username">
    </div>
    <div class="form-group">
        <label for="Username">Email:</label>
        <input type="email" class="form-control" placeholder="email" name="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="password" name="password">
    </div>
    <input type="submit" name="" value="Register" class="btn btn-primary">
</form>
<%- include("partials/footer")%>