
<%- include("partials/header") %>

<div class="container showcat-section mt-2">
  <div class="row">

    <% SongMa2.forEach(function(im){ %>
    <div class="col-lg-3 col-sm-6 col-6 mt-3">
      <a href="/book/<%=im._id%>">
        <img src="/uploads/<%= im.imgurl %>" height="200" width="150" class="img-fluid rounded">
      </a>
    </div>
    <%}); %>

  </div>
</div>

<%- include("partials/footer") %>