
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body
{
  background-color: rgb(17, 11, 46);
  font-family: 'Quicksand', sans-serif;
}

.carousel-item { height: 25rem; }

.carousel-caption
{
  top: 45%;
  padding: 0px;
}
.carousel-caption h1 { font-family: 'Dancing Script', cursive; }

.footer { margin-top: 5rem; }

.register-section
{
  margin-top: 1rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.login-section
{
  margin-top: 1rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.white { color: white; }

#navbar-2 { color: #FFF8DC; }

.checked { color: orange; }

.hide { display: none; }

.center { text-align: center; }

#right { padding-top: 10%; }

/* .card { display: none; } */

@media (max-width: 992px)
{
  .hidden
  {
    display: none;
  }
  #right{
    float: center;
    padding-top: 2%;
  }
  #click-hidden2{
    background-color: #A9A9A9;
  }
}

/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; } */