
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body
{
  background-image: linear-gradient(to right, rgb(17, 11, 46),rgb(83, 70, 72));
  font-family: 'Quicksand', sans-serif;
}

.carousel-item { height: 25rem; }

.carousel-caption
{
  top: 45%;
  padding: 0px;
}
.carousel-caption h1 { font-family: 'Dancing Script', cursive; }

.footer { margin-top: 5rem; }

.register-section , .login-section , .newbook-section , .editbook-section ,
.editment-section , .editproimg-section , .editinfo-section
{
  margin-top: 1.5rem;
  padding-left: 20rem;
  padding-right: 20rem;
}

.detail-section { padding-left: 15rem; }

.white { color: white; }

.img-section { position: relative; }

.book-view
{
  position: absolute;
  bottom: 5rem;
  right: 0.5rem;
}

.newment-section
{
  padding-right: 15rem;
  margin-top: 1rem;
}

.search-section , .showcat-section
{
  padding-left: 10rem;
  padding-right: 10rem;
}

.bookpost-section { margin-top: 0.5rem; }

.profile-section
{
  padding-top: 3rem;
  padding-left: 8rem;
  padding-right: 8rem;
}

#navbar-2 { color: #FFF8DC; }

.checked { color: orange; }

.hide { display: none; }

.center { text-align: center; }

#right { padding-top: 10%; }

/* .card { display: none; } */

@media (max-width: 992px)
{
  .hidden
  {
    display: none;
  }
  #right{
    float: center;
    padding-top: 2%;
  }
  #click-hidden2{
    background-color: #A9A9A9;
  }
}

/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a { color: #00B7FF; } */