*
{
  font-family: 'Mitr', sans-serif;
}
body{
background-color: #F0F8FF;  
}
#navbar-2{
    color: #FFF8DC;
}
.checked{
  color: orange;
}
.hide{
  display: none;
}
.center{
  text-align: center;
}
#right{
  padding-top: 10%;
}
/* .card{
  display: none;
} */
@media (max-width: 992px)
{
  .hidden
  {
    display: none;
  }
  #right{
    float: center;
    padding-top: 2%;
  }
  #click-hidden2{
    background-color: #A9A9A9;
  }
}

/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */